.jumbotron {
    background-image: url('../img/pizza.png');
}

h1.display-4 {
    position:relative;
    text-align: justify;
    background-size: cover;
    background-color: lightgrey;
    opacity: 65%;
}

h2 {
    padding-bottom: .5em;
}

.card-title {
    background: blue;
}